ul {
    list-style-type: none;
}

.container {
  display: inline-block;
  cursor: pointer;
  width: 20%;
  padding-left: auto;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.my-logo {
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo-img {
  height: 30px;
  width: 30px;
}

.resto-logo-name {
  margin-bottom: 1px;
  margin-left: 5px;
  font-family: sans-serif;
  font-size: 20px;
  color: #e43c13;
}

.nav {
  justify-content: space-between;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
}

#myLinks {
  display: none;
  flex-direction: column;
}

#myLinks a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(17, 17, 17);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .intro-img {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;

} */

.intro::before {    
  content: "";
  background-image: url('./assets/resto1.jpg');
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
    opacity: 0.3;
}

h1 {
  position: relative;
  color: #e43c13;  
  line-height: 0.9;
  font-size: 55px;
  font-weight: bold;
  padding: 1rem;
}

.news-events {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.news-events h2 {
  color: white;
}

.line {
  height: 1px;
  background-color: #e43c13;
  width: 100px;
}

.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
}

.cat-line {
 height: 2px;
 background-color: rgb(85, 85, 85);
 width: 50px;
 border-radius: 25px;
 margin-bottom: 10px;
}

.cat-text {
  color: #e43c13;
  font-size: 13px;
  font-style: italic;
}

.cat-content {
  font-size: 15px;
}

.cat-img {
    height: 180px;
    width: 160px;
    margin-right: 1rem;
}

.cat-title {
  font-size: 20px;
  font-weight: 600;
}

#categories {
    margin-top: 1rem;
}

@media only screen and (min-width: 768px){
  #categories {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }

  .category {
    align-items: center;
    margin: 1px;
    width: 90%;
  }
  
  .cat-img {
    height: 150px;
    width: 150px;
    margin-right: 1rem;
  }
}
